.ProductList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.CatalogueList {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: auto;
}

.ProductList-Link {
  text-decoration: none;
  color: black;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  .ProductList {
    justify-content: center;
  }

  .ProductCard {
      margin-bottom: 2rem;
  }
}
