.ContactForm {
    display: flex;
    flex-direction: column;
    height: 75vh;
    /* border: 1px solid #000; */
}

.ContactForm div {
    width: 50%;
}

.Form input {
    width: 30%;
    font-size: 30px;
    font-family: var(--font-text);
}

.ContactForm textarea {
    width: 30%;
    font-size: 30px;
    font-family: var(--font-text);
}
