.ContactForm {
  display: flex;
  flex-direction: column;
  height: 60vh;
  margin-top: 100px;
  align-items: center;
}

.Form {
    padding-bottom: 1rem;
}

.Form input {
  width: 30%;
  font-size: 15px;
  font-family: var(--font-text);
  border: 1px solid white;
  width: 400px;
  padding: 0.5em;
  background: var(--greenblue);
}

.Form input:focus {
  outline-color: var(--greenblue);
}

.ContactForm textarea {
  width: 30%;
  font-size: 15px;
  font-family: var(--font-text);
  border: 1px solid white;
  width: 400px;
  min-height: 200px;
  padding: 0.5rem;
  background: var(--greenblue);
}

.ContactForm textarea:focus {
  outline-color: var(--greenblue);
}

.sendingBtn {
  border: none;
  color: var(--greenblue);
  padding: 0.5em 1rem;
  font-size: 15px;
  border-radius: 0.5em;
  background: var(--darkgreen);
  transition: all 0.3s;
  align-self: flex-end;
  margin: 0;
}

.sendingBtn:active {
  color: var(--darkgreen);
  box-shadow: inset 4px 4px 12px white, inset -4px -4px 12px white;
}

@media screen and (max-width: 480px) {
  .ContactForm {
      margin-top: 3rem;
  }

  .Form input,
  .Form textarea {
    width: 350px;
  }
}
