.ContactForm {
    display: flex;
    flex-direction: column;
    height: 60vh;
    margin-top: 100px;
    align-items: center;
}

.ContactForm div {
    width: 50%;
}

.TitleForm {
    font-size: 30px;
    font-family: var(--font-home);
    color: #2C3331;
}

.Form input {
    /* outline: none;
    border: none; */
    width: 30%;
    font-size: 15px;
    font-family: var(--font-text);
    border: 1px solid white;
    width: 400px;
    padding: 0.5em;
    background: #CFE2DE;
    }

    .Form input:focus {
    outline-color: #CFE2DE;
}

.ContactForm textarea {
    /* outline: none;
    border: none; */
    width: 30%;
    font-size: 15px;
    font-family: var(--font-text);
    border: 1px solid WHITE;
    width: 400px;
    padding: 5em 2em;
    background: #CFE2DE;
} 

.ContactForm textarea:focus {
    outline-color: #CFE2DE;

}
.sendingBtn {
    border: none;
    color: #2C3331;
    padding: 0.4em 0.4em;
    font-size: 15px;
    border-radius: 0.5em;
    background: #CFE2DE;
    border: 1px solid white;;
    transition: all .3s;
    box-shadow: 6px 6px 12px #CFE2DE,
                -6px -6px 12px #eeeee6;
}
.sendingBtn:active {
    color: #2C3331;
    box-shadow: inset 4px 4px 12px white,
                inset -4px -4px 12px white;
}
