.loginContainer {
    min-width: 30vw;
    min-height: 35rem;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: var(--greenblue);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    align-items: center;
    margin: 5rem 0;
    color: var(--darkgreen);
    font-size: 0.8em;
    padding-top: 2rem;
    font-family: var(--font-home);
}

.loginForm {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6rem;
}

.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: red;
}

.loginBtn {
    width: 10rem;
    padding: 1rem;
    margin-top: 2.5rem;
    color: var(--greenblue);
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    background: var(--darkgreen);
    font-family: var(--font-text);
}

.registerBtn {
    padding: 2rem;
    color: var(--greenblue);
    font-size: 1em;
    font-weight: 600;
    border: none;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    background: var(--darkgreen);
    font-family: var(--font-text);
}

.loginContainer h2 {
    margin: 0rem;
    font-size: 3em;
    text-align: center;
    margin-bottom: 2rem;
}

.loginContainer h4 {
    font-size: 1.5em;
}

.loginContainer input {
    margin: 0.5rem 0;
    width: 15rem;
    height: 2rem;
    border: none;
    text-align: center;
    font-size: 0.85em;
    font-family: var(--font-text);
}

.registerBox {
    width: 20.5rem;
    text-align: center;
}

@media screen and (max-width: 1000px)  {
    .loginContainer {
        width: 40vw;
}
}

@media screen and (max-width: 760px)  {
    .loginContainer {
        width: 60vw;
}
}

@media screen and (max-width: 550px)  {
    .loginContainer {
        width: 80vw;
}
}