div.address {
    display: flex;
    flex-direction: column;
}

.registerContainer {
    min-width: 70vh;
    min-height: 550px;
    display: flex;
    flex-direction: column;
    border-radius: 19px;
    background-color: var(--greenblue);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
    align-items: center;
    margin: 5rem 0;
    color: var(--darkgreen);
}

.registerForm {
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5rem;
}

.registerBtn {
    margin-top: 1.5rem;
    width: 25%;
    padding: 1rem;
    color: var(--greenblue);
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: var(--darkgreen);
}

.registerContainer h2 {
    margin: 0rem;
    font-size: 3em;
    text-align: center;
    margin-bottom: 2rem;
}

.registerContainer h4 {
    margin-bottom: 1rem;
    font-size: 1.5em;
}

.registerContainer input {
    margin: 1rem 0;
    width: 15rem;
    border: none;
    text-align: center;
    font-size: 0.85em;
    font-family: var(--font-text);
    margin-right: 2rem;
}

.loginBox {
    min-width: 20vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.loginBox h4 {
    min-width: 10rem;
    height: 100px;
}

.loginBox button {
    width: 10rem;
    margin-left: 2rem;
}

.regInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: red;
}

.text-danger {
    text-align: center;
    color: red;
    font-size: 0.75em;
}

.connexion {
    display: flex;
    justify-content: start;
    width: 60%;
}

.connexion input {
    width: 15rem;
}

.info {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 60%;
}

.info input {
    width: 10rem;
}

.postAddress {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    width: 60%;
}

.address input {
    width: 15rem;
}

.registerForm span{
    width: 60%;
    text-align: left;
}

.city {
    display: flex;
    justify-content: center;
    align-self: flex-start;
}

.city input {
    width: 10rem;
    justify-content: center;
}