.chart {
    flex: 5;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    background-color: var(--greenblue);
    color: var(--darkgreen);
    font-family: var(--font-text);
}

.chartTitle {
    margin-bottom: 20px;
    font-weight: 600;
    font-family: var(--font-home);
}

.chartGrid {
    stroke: var(--main-bg-color);
    font-family: var(--font-home);
}
