.featured {
    flex: 4;
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 10px;
    background-color: var(--greenblue);
}

.featuredTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--darkgreen);
}

.topTitle {
    font-size: 1em;
    font-weight: 600;
    font-family: var(--font-home);
}

.featuredBottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.featuredChart {
    width: 180px;
    height: 180px;
}

.bottomTitle {
    font-weight: 500;
    color: var(--darkgreen);
    margin-top: 1.5rem;
}

.amount {
    font-size: 30px;
}

.summary {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}

.item {
    text-align: center;
}

.itemTitle {
    font-size: 14px;
    color: var(--darkgreen);

}

.itemResult {
    display: flex;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;

}

.positive {
    color: green;
}

.negative {
    color: red;
}