.Description {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: var(--font-text);
    position: relative;
    min-height: 100vh;
}

.description-Logo {
    display: flex;
    background-image: url("../assets/Logo\ Elfenn\ cosmétiques\ modifier.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    z-index: 0;
    height: 80%;
    opacity: 0.2;
    width: 100%;
    object-fit: fill;
    background-position: center;
}

.title {
    z-index: 1;
    top: 10%;
    position: absolute;
    text-align: center;
    font-family: var(--font-home);
    font-weight: 500;
    font-size: 5.5em;
    letter-spacing: 2px;
    color: white;
    left: 27%;
}

.BrandDesc {
    margin-bottom: 80px;
    position: relative;
}

.Description p {

    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
    font-family: var(--font-text);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 100px;
}

.description_img img {
    margin-bottom: 5%;
    width: 100%;
    overflow: hidden;
    height: 40vh;
    object-fit: cover;
    object-position: 0 50%;
}

.bottomImg {
    width: 100%;
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 750px) {
    .bottomImg img {
        width: 100%;
    }

    .description_img {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .title {
        width: 100%;
        left: 0%;
        top: 2%;
        font-size: 3em;
        /* border: 1px solid black; */
    }
}