.CartPage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-color: var(--main-bg-color);
}

.CartContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}