.ContactPage .FormContainer {
text-align: center;
}
.ContactPage .FormContainer h1 {
    font-size: 40px;
    font-family: var(--font-home);
    color: #2C3331;
    margin: 0 40%;
}
.FormContainer .email {
    font-size: 20px;
    font-family: var(--font-text);
    margin: 40%;
    color: black;
}