.ContactPage .FormContainer {
    /*width: 100%;
    font-size: 20px;
    text-align: justify;
    font-family: var(--font-text);
    border: 1px solid #000;*/
    margin-left: 30px;
}
.ContactPage .FormContainer h1 {
    font-size: 40px;
    font-family: var(--font-home);
    color: #2C3331;
    margin: 0 40%;
}
.FormContainer .email {
    font-size: 20px;
    font-family: var(--font-text);
    margin: 40%;
    color: black;
}