.home {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  font-family: var(--font-title);
  height: 100vh;
}

.page {
  min-height: 100vh;
}

.footer {
  background-color: var(--darkgreen);
  /* height: 10em; */
}


