/* .description_texte {
    background-color: aqua;
}


.Description  {
    display: flex;
    height: 200px;
    width: 400px;
} */

*{
    margin: 0px;
    padding: 0px;
}

.Description {
    display: flex;
    /* flex-direction: row; */
    padding: 2.5em;
}

.description_texte p {
    padding-top: 50px;
    /* border: 1px solid #000; */
    font-size: 1.5em;
    /* text-align: ; */
    line-height: 1.5em;
   
}



.img {
   object-fit: contain;
   height: 600px;
   width: 1200px;
}