/* /* .description_texte {
    background-color: aqua;
}


.Description  {
    display: flex;
    height: 200px;
    width: 400px;
} */


* {
    margin: 0px;
    padding: 0px;
}


h1 {
    background-color: #CFE2DE;
    font-size: 3em;
    letter-spacing: 2px;
    text-align: center;


}

.Marquedesc {
    margin-top: 20px;
    text-align: justify;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px 0px #000000;
}

.description_texte p {

    background-color: #CFE2DE;
    /* border: 1px solid #000; */
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
    width: 100%;
    height: 3vh;
    /* object-fit: cover; */
}





.img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}