.Description {
    display: flex;
    flex-direction: column;
    background-color: #CFE2DE;
}

.titre {
    margin-top: 5%;
    background-color: #CFE2DE;
    font-size: 3em;
    letter-spacing: 2px;
    text-align: center;
}

hr {
    height: 3px;
    background-color: rgb(10, 10, 10);
    width: 25vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.Marquedesc {
    margin-top: 7%;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 5px 5px 15px 0px #000000;
    border: #020202 solid 1px;
    margin-bottom: 10%;
}

.Description p {
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
    background-color: #CFE2DE;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;
}

.marqueimg {
    margin-top: 5%;
    width: 100%;
    height: 80%;
}