.Description {
    display: flex;
    flex-direction: column;
    /* background-color: var(--main-bg-color); */
    font-family: var(--font-text);
    position: relative;
    width: 100%;
    height: 100vh;
}

.description-Logo {
    background-image: url("../assets/Logo\ Elfenn\ cosmétiques\ modifier.png");
    background-repeat: no-repeat;
    position: absolute;
    top: 63%;
    left: 30%;
    z-index: 0;
    width: 100%;
    height: 80%;
    opacity: 0.2;
}


.titre {
   
    text-align: center;
    font-family: var(--font-text);
    font-size: 3em;
    letter-spacing: 2px;
    text-align: center;


}

hr {
   
    height: 3px;
    background-color: rgb(10, 10, 10);
    width: 27vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
}

.Marquedesc {
   
    margin-bottom: 80px;

}

.Description p {
  
    font-size: 1.5em;
    text-align: center;
    line-height: 1.5em;
    font-family: var(--font-text);
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10px;

}

.description_img img {
    margin-bottom: 5%;
    width: 100%;
    overflow: hidden;
    width: 100%;
    height: 40vh;
    object-fit: cover;
    object-position: 0 50%;
}


/* background-image: url("../assets/Logo\ Elfenn\ cosmétiques\ modifier.png");
background-repeat: no-repeat;
background-position */