.presentation {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
    display: flex;
    align-items: center;
    margin: 2em auto;
    padding: 1.5em;
    width: 70%;
}

.presentation_text {
    font-size: 1.2em;
    line-height: 1.5em;
    padding: 1em;
}

.presentation_img {
    align-items: flex-start;
    border-radius: 10px;
    width: 100%;
}

.presentation_img img {
    border-radius: 10px;
    width: 100%
}
