.ContactForm {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.ContactForm div {
    width: 50%;
}

.Form input {
    width: 20%;
}

.ContactForm textarea {
    /* width: 100%; */
}