.DetailsProduct {
    display:flex;
    background-color: lightsalmon;
}
.DetailsProductImage {
    width: 500px;
}
.DetailsProductTitle {
    background-color: lightgreen;
}
.DetailsProductPrice {
    text-align: center;
    margin: 5px 0;
    background-color: lightgrey;
}
.DetailsProductCharacteristic {
    background-color: lightcoral;
}
.DetailsProductDescription {
    background-color: lightskyblue;
}
.DetailsProductIngredient {
    background-color: lightseagreen;
}