.presentation {
    display: flex;
    /* flex-direction: row; */
    padding: 2.5em;
}

.presentation p {
    /* border: 1px solid #000; */
    font-size: 1.5em;
    /* text-align: ; */
    line-height: 1.5em;
    padding: 1em;
}

.presentation_img {
    border: 1px solid #000;
    /* width: ; */
    /* height: 50px; */
}

.presentation_img img {
    width: 100%;
    height: 100%;
}