.ProductCard {

  width: 10%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.ProductCardImage {
    width: 200px;
    height: 300px;
    object-fit: cover;
    
}

.ProductCardTitle {
    text-align: center;
    margin: 5px 0;
}

.ProductCardPrice {
    text-align: center;
    margin: 5px 0;
}