/* .ProductList {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    border: 1px solid #000;
}

.ProductList-Link {
    text-decoration: none;
    color: black;
} */

.ProductList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* border: 1px solid #000; */
}

.CatalogueList {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    background-color: blue;
}

.ProductList-Link {
    text-decoration: none;
    color: black;
}

