.new {
    display: flex;
    width: 100%;
}

.newContainer {
    flex: 6;
}

.newTop, .newBottom {
    box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
    padding: 20px;
    margin: 20px;
    display: flex;
}

.new h1 {
    color: lightgray;
    font-size: 20px;
}

.newRight {
    flex: 2;
}

.new form {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: space-around;
}

.newFormInput {
    width: 40%;
}

.new label {
    display: flex;
    align-items: center;
    gap: 10px;
}

.newIcon {
    cursor: pointer;
}

.new input {
    width: 100%;
    padding: 5px;
    border: none;
    border-bottom: 1px solid gray;
}

.new button {
    margin-top: 1.5rem;
    width: 20%;
    padding: 1rem;
    color: var(--greenblue);
    font-size: 15px;
    font-weight: 600;
    border: none;
    border-radius: 100px 100px 100px 100px;
    cursor: pointer;
    transition: all, 240ms ease-in-out;
    background: var(--darkgreen);
    font-family: var(--font-text);
}