.new {
  display: flex;
  width: 100%;
  background-color: var(--main-bg-color);
}

.newContainer {
  flex: 6;
}

.newTop,
.newBottom {
  box-shadow: 2px 4px 10px 1px rgba(201, 201, 201, 0.47);
  padding: 20px;
  margin: 20px;
  display: flex;
  background-color: var(--greenblue);
}

.new h1 {
  color: var(--darkgreen);
  font-size: 20px;
  font-family: var(--font-home);
}

.newLeft {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.new img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: 3rem;
}

.newRight {
  flex: 2;
}

.new form {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-around;
}

.newFormInput {
  width: 40%;
}

.new label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newIcon {
  cursor: pointer;
}

.new input {
  width: 100%;
  padding: 5px;
  border: none;
  font-family: var(--font-text);
}

.new textarea {
  border: none;
  font-family: var(--font-text);
}

.new button {
  margin-top: 1.5rem;
  width: 20%;
  padding: 1rem;
  color: var(--greenblue);
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 100px 100px 100px 100px;
  cursor: pointer;
  transition: all, 240ms ease-in-out;
  background: var(--darkgreen);
  font-family: var(--font-text);
}

table.ingredients thead {
  font-family: var(--font-title);
}

table.ingredients td {
  width: 500px;
  
}

/* Chrome, Safari, Edge, Opera */
.newRight input[type="number"]::-webkit-inner-spin-button,
.newRight input[type="number"]::-webkit-outer-spin-button {
  opacity: 1;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
